In [64]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression, LinearRegression, LogisticRegressionCV, Lasso, Ridge, RidgeClassifier, SGDClassifier
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, precision_recall_curve, precision_recall_fscore_support, f1_score, r2_score
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from scipy.stats import randint as sp_randint, gamma as sp_gamma, expon as sp_expon, uniform as sp_uniform
from sklearn.grid_search import RandomizedSearchCV
import cPickle as pickle
import sys
import time
from common.os_interaction import get_file_name_from_path
from copy import copy
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np

In [2]:
def pop_columns(df, col_names):
    """
    Pop multiple columns off of a Pandas DataFrame.

    PARAMETERS
    ----------
    df : pandas.DataFrame

    col_names : list
        List of the columns to pop in order and append to new DataFrame.

    RETURNS
    -------
    df : pandas.DataFrame
        The orriginal DataFrame minus the popped columns.

    df_popped : pandas.DataFrame
        The popped columns in a new DataFrame.
    """
    df_copy = copy(df)
    for i, name in enumerate(list(col_names)):
        if i == 0:
            df_popped = df_copy.pop(name)
        else:
            new_col = df_copy.pop(name)
            df_popped = pd.concat((df_popped, new_col), axis=1)
    return df_copy, df_popped

In [3]:
def open_prepper(file_path):
    """Open the DataPrepper from pickled file."""
    with open(file_path) as f:
        prepper = pickle.load(f)
    return prepper

In [66]:
file_path = '../data/store/data_prepper_ANIMALS.pkl'
prepper = open_prepper(file_path)

In [50]:
prepper.df_test.shape

(7330, 1103)

In [51]:
prepper.df_test.dropna().shape

(7329, 1103)

In [55]:
prepper.df_test.fillna(0).shape

(7330, 1103)

In [65]:
np.sum(prepper.df_test.isnull().values)

1

In [ ]:
X_train, y_train = prepper.return_training_data()

In [30]:
X_test, y_test = prepper.return_testing_data()

In [33]:
sum(y_train['image_views_quantized'].isnull())

0

In [35]:
y_test[y_test['image_views_quantized'].isnull()]

,,user_is_pro,user_can_buy_pro,user_total_views,image_ncomments,image_nfavs,image_nsets,image_npools,image_views,image_views_quantized,user_total_views_quantized,image_nfavs_binned,image_ncomments_binned,image_nsets_binned,image_npools_binned
owner,id,,,,,,,,,,,,,,
12331642@N02,20525046375,0,0,709,24,294,1,19,19869,NaN,1,6,3,1,2

In [7]:
file_path = '../data/store/data_prepper_BUILDING.pkl'
prepper = open_prepper(file_path)

In [8]:
prepper.df_train.shape

(16232, 1103)

In [9]:
prepper.df_train.dropna().shape

(16232, 1103)

In [11]:
file_path = '../data/store/data_prepper_LANDSCAPE.pkl'
prepper = open_prepper(file_path)

In [12]:
prepper.df_train.shape

(35332, 1103)

In [13]:
prepper.df_train.dropna().shape

(35332, 1103)

In [14]:
file_path = '../data/store/data_prepper_PORTRAIT.pkl'
prepper = open_prepper(file_path)

In [15]:
prepper.df_train.shape

(27714, 1103)

In [16]:
prepper.df_train.dropna().shape

(27714, 1103)

In [18]:
file_path = '../data/store/data_prepper_SPORTS.pkl'
prepper = open_prepper(file_path)

In [19]:
prepper.df_train.shape

(16964, 1103)

In [20]:
prepper.df_train.dropna().shape

(16964, 1103)

In [38]:
file_path = '../data/store/data_prepper_ALL-CATEGORIES.pkl'
prepper = open_prepper(file_path)

In [39]:
prepper.df_test.shape

(33072, 1103)

In [40]:
prepper.df_test.dropna().shape

(33072, 1103)

In [41]:
import os

In [45]:
def get_parent_directory_of_directory(directory):
    """Get the directory name one level above the given directory."""
    return os.path.dirname(os.path.dirname(directory))

In [47]:
get_parent_directory_of_directory('my/mane/kdjfd/kkjh/jjj.py')

'my/mane/kdjfd'

In [48]:
os.path.dirname('kjhg/jhku/mjh/mmm.py')

'kjhg/jhku/mjh'

In [73]:
pd.DataFrame([['me',2], ['you',4]], columns=['me','you'])

    me  you
0   me    2
1  you    4

In [74]:
_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
me     2 non-null object
you    2 non-null int64
dtypes: int64(1), object(1)
memory usage: 104.0+ bytes